<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <body>
        <p>

            extra
        </p>
        <a href="/ball" type="button"><button type="button">Ball Bounce</button></a>
        <a href="/clock" type="button"><button type="button">Clock</button></a>
        <a href="/matrix" type="button"><button type="button">Matrix</button></a>
        <a href="/wave" type="button"><button type="button">Wave</button></a>

        <p>game</p>

        <a href="/typing" type="button"><button type="button">Typing</button></a>
        <a href="/tetris" type="button"><button type="button">Tetris</button></a>
        <a href="/puzzleGame" type="button"><button type="button">PuzzleGame</button></a>
        
        <p>Life</p>
        <a href="/calculator" type="button"><button type="button">Calculator</button></a>
        <a href="/todoList" type="button"><button type="button">To Do List</button></a>
        <a href="/todoList2" type="button"><button type="button">To Do List 2</button></a>

    </body>
   


</html>
