<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>puzzle game</title>
</head>
<body>
    hello~
    <a href="puzzleGame3by3"><button>puzzle 3X3</button></a>
    <a href="puzzleGame4by4"><button>puzzle 4X4</button></a>
</body>
</html> 